
img{
    width: 80% !important;
    height: 200px !important;
    display: block;
    margin: auto;
}

.gallery{
    padding: 80px 0 ;
}

.product-item:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

#total-price-btn:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    background-color: #2f7794;

}
.basic-color {
    background-color: #264653;
}
#add-item-icon{
    text-decoration: none;
    color: #264653;

}
#add-item-icon:hover{
    color: #2f7794;
}